body {
    max-width: 960px;
    margin: 0px auto;
    padding: 1em;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightgrey;

}
main{
    max-width: 100%;
    margin: 0 auto; 
    background-color: whitesmoke;
    padding-bottom: 50px; 
}
header { 
    background-color: antiquewhite; 
    max-width: 100%;
    max-height: 250px; 
    padding: 25px 0; 
}
a:hover{ 
    background-color: lightseagreen;
    color: white; 
}
ul{ 
    padding: 0;
}
li { 
    list-style: none;
    margin: 15px 100px; 
    color: black;
    padding: 0; 
    
}
h1{ 
    text-align: center;
    margin: 25px 0;  
}
h2 { 
    margin: 15px 100px;
    padding-top: 25px;  
}
footer{ 
    padding-top: 15px; 
    padding-left:0; 
    margin: 15px 100px; 
}