:root {
    --primary-color: #54494b;
    --secondary-color: #B33951;
    --accent1-color: #91C7B1;
    --accent2-color: #F1F7ED;
    --heading-font: 'Montserrat'sans-serif;
    --paragraph-family: 'Roboto Slab', serif;
    --heading-font-color: #B33951;
}

html {
    background-color: #91C7B1;
}

body {
    max-width: 960px;
    margin: 0px auto;
    padding: 1em;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #F1F7ED;

}

header,
main,
footer,
.hero-image {
    max-width: 960px;
    margin: 0 auto;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
    text-align: center;
}

header {
    text-align: center;
    color: var(--secondary-color);
    background-color: #91C7B1;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
}

header>h1 {
    color: #54494b;
    font-size: 1.5rem;
}


nav {
    background-color: #91C7B1;
    line-height: 3em;
    text-align: center;
    font-size: 1.2rem;
    color: var(--accent2-color);

}

nav>ul {
    list-style-type: none;
    display: flex;
    flex: 1 1 auto;
}

nav a {
    padding: 1em;
    min-width: 70px;
}

nav a:link,
nav a:visited {
    color: var(--accent2-color);
}

nav a:hover {
    color: var(--accent2-color);
    background-color: var(--secondary-color);
}

main .hero-image {
    margin-bottom: 25px;
}

img#logo {
    max-width: auto;
    height: 50px;
    padding-right: 10px;
}
main .section-one,
.section-two {
    display: flex;
    justify-content: space-evenly;
    margin: 30px auto;
}
main .section-one div, .section-two div { 
    width: 45%; 
    margin: 20px; 
}


p {
    font-family: 'Roboto-Slab', serif;
    color: #54494b;
    padding: 1rem;
    margin: 0;
    background-color: #F1F7ED;
}

h2.search {
    padding-top: 25px;
    text-align: center;
}

div.family p {
    max-width: 100%;
}

p.colored {
    color: var(--secondary-color);
}

p.heading {
    font-family: 'Montserrat', sans-serif;
}

p.copyright {
    max-width: 100%;
    text-align: center;
}

h2,
h3 {
    color: var(--secondary-color);
}

footer .footer {
    display: flex;
    justify-content: space-evenly;
    padding: 25px 0;
    background-color: #91C7B1;
    margin-top: 25px;
}
li { 
    list-style: none; 
}